.numbers {
  font-family: monospace;
}

/* *******************************
   #ct-input
   ******************************* */
#ct-input fieldset {
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
#ct-input table {
  border-spacing: 0px;
}
#ct-input th, #ct-input td {
  border-top: 1px #ddd solid;
  padding: 4px;
}
#ct-input input[type="number"] {
  width: 3em;
}
#ct-input button {
  width: 100%;
  height: 50px;
  font-size: 180%;
}

/* *******************************
   #ct-display
   ******************************* */
#ct-display td.numbers {
  font-size: 150%;
}
#ct-display table {
  font-size: 180%;
}
#ct-display small {
  font-size: smaller;
  color: #999;
}

/* *******************************
   #ct-log
   ******************************* */
#ct-log td:nth-child(even), #ct-log th:nth-child(even) {
  background: #ddd;
}
#ct-log td, #ct-log th {
  border-bottom: 1px #ccc solid;
  text-align: center;
}
